{
  "plugins": [
    "transform-es2015-modules-commonjs",
    "closure-elimination",
//    "transform-promise-to-bluebird",
    "syntax-async-functions",
    "transform-async-to-generator"
//    ["transform-async-to-module-method", {
//      "module": "bluebird",
//      "method": "coroutine"
//    }]
  ],
  "ignore": ["node_modules"]
}
