{
  "presets": ["node6"],
  "plugins": [
    "transform-promise-to-bluebird",
    "syntax-async-functions",
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }]
  ]
}
